<!-- views/landing.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Welcome to My Recipe App</title>
</head>
<body>
  <h1>Welcome to My Recipe App</h1>
  <p>Explore delicious recipes from The Sopranos and more.</p>
  <a href="/recipes">View Recipes</a> <!-- You can link to other pages or functionalities from the landing page -->


